################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FitnessApp/.vs/FitnessApp/v17/TestStore/0/testlog.manifest
